<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Blog</title>
    <base href="/" />
</head>
<body>
    <app-root>Loading...</app-root>
    <script src="~/Scripts/ngBlog/runtime.js"></script>
    <script src="~/Scripts/ngBlog/polyfills.js"></script>
    <script src="~/Scripts/ngBlog/styles.js"></script>
    <script src="~/Scripts/ngBlog/vendor.js"></script>
    <script src="~/Scripts/ngBlog/main.js"></script>
</body>
</html>
