<div class="main-container">
  <mat-toolbar>
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Application</span>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #snav mode="mobileQuery.matches ? 'over' : 'side'" fixedInViewport="mobileQuery.matches" fixedTopGap="100">
      <mat-nav-list>
        <mat-list-item><mat-icon>home</mat-icon> Home</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-sidenav-content">
      Testing
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>  
