<div class="home">
  <mdc-drawer drawer="permanent" fixed="false">
    <mdc-drawer-header>
      <mdc-drawer-header-content>
        <h1 class="headline-title" mdcHeadline6>Jeremey Schrack</h1>
      </mdc-drawer-header-content>
    </mdc-drawer-header>
    <mdc-drawer-content>
      <mdc-list-group>
        <mdc-list>
          <mdc-list-item>
            <mdc-icon mdc-list-item-graphic>home</mdc-icon>Home
          </mdc-list-item>
        </mdc-list>
      </mdc-list-group>
    </mdc-drawer-content>
  </mdc-drawer>
  <div class="content-body">
    <p mdcHeadline5>Hello World</p>
    <router-outlet></router-outlet>
  </div>
</div>
