<div class="home">
  <mdc-drawer drawer="permanent" fixed="false">
    <mdc-drawer-header>
      <mdc-drawer-header-content>
        <img src="../assets/main_profile.jpg" class="headline-logo" />
        <h1 class="headline-title" mdcHeadline6>Jeremey Schrack</h1>
      </mdc-drawer-header-content>
    </mdc-drawer-header>
    
    <mdc-drawer-spacer></mdc-drawer-spacer>
    <mdc-drawer-content>
      <mdc-list-group>
        <mdc-list>
          <mdc-list-item>
            <mdc-icon mdc-list-item-graphic>home</mdc-icon>Home
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-graphic>star</mdc-icon>Star
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-graphic>send</mdc-icon>Sent Mail
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-graphic>drafts</mdc-icon>Drafts
          </mdc-list-item>
          <mdc-list-divider></mdc-list-divider>
          <mdc-list-item>
            <mdc-icon mdc-list-item-graphic>email</mdc-icon>All Mail
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-graphic>delete</mdc-icon>Trash
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-graphic>report</mdc-icon>Spam
          </mdc-list-item>
        </mdc-list>
      </mdc-list-group>
    </mdc-drawer-content>
  </mdc-drawer>
  <div class="content-body">
    <p mdcHeadline5>Hello World</p>
    <router-outlet></router-outlet>
  </div>
</div>
